<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<title>物理名生成</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" />
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>
</head>
<body role="document">
	<div class="navbar navbar-default" role="navigation">
		<div class="container">
			<div class="nav navbar-header">
				<div class="navbar-brand">物理名生成</div>
			</div>
		</div>
	</div>
	<div class="container" role="main">
		<div>
			<div class="form-group">
				<textarea class="form-control pname-ln" rows="20" cols="40"></textarea>
			</div>
			<div class="form-group">
				<button class="btn btn-primary pname-type" value="UPPER_SNAKE">UPPER_SNAKE</button>
				<button class="btn btn-primary pname-type" value="LOWER_SNAKE">lower_snake</button>
				<button class="btn btn-primary pname-type" value="UPPER_CAMEL">UpperCamel</button>
				<button class="btn btn-primary pname-type" value="LOWER_CAMEL">lowerCamel</button>
			</div>
		</div>
		<script type="text/javascript">
			$(function() {
				$(".pname-type").click(function(event) {
					(function(lnVal, pnameType) {
						$.ajax({
							url: "pname?tsv",
							type: "POST",
							data: {
								ln: lnVal,
								type:  pnameType
							}
						}).done(function(data, textStatus, jqXHR) {
							$(".pname-ln").val(data);
						});
					})($(".pname-ln").val(), $(this).val());
				});
			});
		</script>
	</div>
	<div class="container" role="main">
		<address class="text-center">Copyright &copy;, 2017, agwlvssainokuni</address>
	</div>
</body>
</html>
