<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="context-root" th:content="@{/}" />
<title>物理名生成</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<h2 class="my-3">物理名生成</h2>
		<div id="pname-web">
			<div class="form-group">
				<textarea class="form-control pname-ln" rows="20" cols="40"></textarea>
			</div>
			<div class="form-group">
				<button class="btn btn-primary pname-type" value="UPPER_SNAKE">UPPER_SNAKE</button>
				<button class="btn btn-primary pname-type" value="LOWER_SNAKE">lower_snake</button>
				<button class="btn btn-primary pname-type" value="UPPER_CAMEL">UpperCamel</button>
				<button class="btn btn-primary pname-type" value="LOWER_CAMEL">lowerCamel</button>
				<button class="btn btn-primary pname-type" value="UPPER_KEBAB">UPPER-KEBAB</button>
				<button class="btn btn-primary pname-type" value="LOWER_KEBAB">lower-kebab</button>
			</div>
		</div>
	</div>
	<div class="container">
		<address class="text-center">Copyright &copy;, 2017,2020, agwlvssainokuni</address>
	</div>
	<script th:src="@{/javascript/index.js}"></script>
</body>
</html>
